 <html>
	<title>Login Page</title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
	</head>
    <body>
        <center>
            <div class="login_bar">
                <p class="display-1">Login</p>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class='container-fluid'>
                        <div class='row'>
                            <div class='col-4 text-right'>{{ form.username.label_tag }}</div>
                            <div class='col-6'>{{ form.username }}</div>
                        </div>
                        <div class='row'>
                            <div class='col-4 text-right'>{{ form.password.label_tag }}</div>
                            <div class='col-6'>{{ form.password }}</div>
                        </div>
                    </div>
                    <button class="btn btn-light" type="submit" id="login_button">login</button>
                </form>
            </div>
        </center>

        <!-- Javascript -->
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    </body>     
</html>
