<html>
	<title>Storepage</title>
	<head>
	    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/storepage.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	</head>

    <body background=" {% static 'background.jpg'%} ")>
        <div>
            <div class="row">
                <div class="col-1">
                    <a href="/"><img class="mainimg" src="{% static 'E-Fi.png'%}"></a>
                </div>
                <div class="col-10">
                    {% if method == 'get' %}
                    <center>
                    <p class="h1">You haven't picked an item yet!</p>
                    <form action='/'>   
                        <button class="btn btn-primary" type="submit"><font class="h3">Click to go back</font></button>
                    </form>
                    <center>
                    {% else %}
                    <p class="h1 text-center">You can buy {{ item_name }} at the following locations:</p>
                    {% endif %}
                </div>
                <div class="col-1">
                    {% if user.is_authenticated %}
                    <p id="user-auth">Hello <span>{{ user.username }}</span>,</p>
                    <form action="{% url 'logout' %}">   
                        <input type="submit" id="bt-logout" value="Logout">
                    </form>
                    {% else %}
                    <form action="{% url 'login' %}">   
                        <input type="submit" id="bt-login" value="Login">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>

       <div class="container" id="store-result">
        </div>
        
        {% if method == 'post'%}
        <div class='container'>
            <div class='row'>
                <div class='col text-center'>
                    <p class='h3'>Didn't find what you need?</p>
                    <p class='h4'><a href='' id='refresh'>Click Here or Press R</a></p>
                </div>
            </div>
        </div>
        {% endif %}

        {% if method == 'post'%}
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/storepage.js' %}"></script>
        {% endif %}

        {% if user.is_authenticated %}
        <div id="authed"></div>
        {% else %}
        <div class="container">
            <div class='row'>
            <div class='col text-center' id="unauthed"></div>
            </div>
            <div class="row">
                <div class='col-1'>
                </div>
                <div class="col-11 form-group text-center">
                    <form method="POST" id='sign-up'>
                        {% csrf_token %}

                        <font class="h2">Subscribe to our newsletter!</font> &emsp;
                        {{ newsletter }}
                        <button class="btn btn-primary" type="submit"><font class="h3">Submit</font></button>
                    </form>
                </div>
            </div>
        </div>
        
        {% endif %}

        
    </body>     
</html>
