body {
    overflow-x: hidden;
    font-family:  century gothic;
}

.store_img {
    max-height: 200px;
    max-width: 352px;
    width: auto;
    height: auto;
}

.storepage_text{
    font-size: 2vw;
}

.mainimg {
    max-height: 100px;
    max-width: 100px;
    width: auto;
    height: auto;
}

.small {
    width:10%;
}

.large {
    width:90%;
}

#result {
    background-color: blue;
}

#result h4{
    padding: 50px 50px;

}

#result h6{
    padding: 30px 30px;
}