.store_img {
    max-height: 200px;
    max-width: 352px;
    width: auto;
    height: auto;
}

.storepage_text{
    font-size: 2vw;
}

.mainimg {
    max-height: 100px;
    max-width: 100px;
    width: auto;
    height: auto;
}

.small {
    width:10%;
}

.large {
    width:90%;
}