<html>
    <title></title>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/storepage.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/booking.css' %}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body background=" {% static 'background.jpg'%} ")>
        <div class="pull-left">
            <div class="row">
                <div class="col-1">
                    <a href="/"><img class="mainimg" src="{% static 'E-Fi.png'%}"></a>
                </div>
            </div>
        </div>

        <div class="pull-right">
            {% if user.is_authenticated %}
            <p id="user-auth">Hello <span>{{ user.username }}</span>,</p>
            <form action="{% url 'logout' %}">   
                <input type="submit" id="bt-logout" value="Logout">
            </form>
            {% else %}
            <form action="{% url 'login' %}">   
                <input type="submit" id="bt-login" value="Login">
            </form>
            {% endif %}
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        {% if user.is_authenticated %}
            <div class="row">
                <div class="title1">
                    <p>Booking Form</p>
                </div>
                <div class="title2">
                    <p>You're about to book:</p>
                </div>
            </div>
            <div class="textbox">
                <form action="add-booking/" method="POST">
                    {% csrf_token %}
                    <div class="row" style="justify-content: space-between">
                        <div class="h4">Name</div>
                        <div>:{{ Booking.name }}</div>    
                    </div>
                    <div class="row" style="justify-content: space-between">
                        <div class="h4">E-mail</div>
                        <div>:{{ Booking.email }}</div>
                    </div>
                    <div class="row" style="justify-content: space-between">
                        <div class="h4">Phone Number</div>
                        <div>:{{ Booking.phone_number }}</div>
                    </div>
                    <div class="row" style="justify-content: space-between">
                        <div class="h4">Message</div>
                        <div>:{{ Booking.message }}</div>
                    </div>
                    <div style="text-align: center">After you submit, the store owner will contact you</div>
                    <div style="text-align: center">A copy of this form will be sent to your email</div>
                    <div style="justify-content: center">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="row">
                <div class="title1">
                    <p>Booking Form</p>
                </div>
                <div class="title2">
                    <p>Please Login First If You Want to Book:</p>   
                </div>
                <div class="title3">
                    <form action="/login/" method="GET">
                        <input type="submit" value="Login to book">
                    </form>
                </div>
            </div>
            
        {% endif %}

        <div class="text1" id='usernum'>
            <p>We have 0 users for our newsletter!</p>
        </div>

        <div class="col" align='center' id='news'>
            <br><br><br>
            <div class='text1'>Headlines News About Technology</div>
        </div>
        

        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/booking.js' %}"></script>
    </body>     
</html>
