<html>
    <title>Electronic-Finder</title>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

         <!-- Bootstrap -->
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/storepage.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Homepage.css' %}">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        
    </head>
    <body background=" {% static 'background.jpg'%} ")>
        
        <div class="pull-left">
            <div class="row">
                <div class="col-1">
                    <a href="/"><img class="mainimg" src="{% static 'E-Fi.png'%}"></a>
                </div>
            </div>
        </div>

<div class="pull-right">
{% if user.is_authenticated %}
<p id="user-auth">Hello <span>{{ user.username }}</span>,</p>
<form action="{% url 'logout' %}">   
    <input type="submit" id="bt-logout" value="Logout">
</form>
{% else %}
<form action="{% url 'login' %}">   
    <input type="submit" id="bt-login" value="Login">
</form>
{% endif %}
</div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="title1">
                <p><span>E</span>lectronic<span>-Fi</span>nder</p>
            </div>
            <div class="title2">
                <p>Find Something!</p>
            </div>
            </div>
            </div>
        </div>
        <div class="full">
            <form method="get" action="searchresult/" class="searchfile">
                {{Search_image.thumbnail}}    
                <div>
            <input type="submit" class="button" value="Submit" />        
                </div>
            
        </form>                
            </div>
        <div class="title3">
            <p>or search our database</p>
        </div>
        <div class="textbox">
            <form method="get" action="searchresult/">
                <input type="text" placeholder="Input text here...">
                <input type="submit" value="Submit!">
            </form>
        </div></li>
        {% if user.is_authenticated %}
        {% else %}
        <div class="" id="but-submit">
            <form method="POST" id='sign-up'>
                {% csrf_token %}

                    <font class="p" id="text-submit">Subscribe to our newsletter!</font> &emsp;
                        {{ newsletter }}
                    <input type="submit" value="submit">
            </form>
        </div>
        {% endif %}
        <div class="text1" id='usernum'>
                <p>We have 0 users for our newsletter!</p>
            </div>

        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/market.js' %}"></script>
    </body>     
</html>
 