<!DOCTYPE html>
<html>
<head>
	<title>Search Result</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/searchresult2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/search_result.js' %}"></script>
</head>
<body background=" {% static 'background.jpg'%} ">
	<div>
		<div class="row">
            <div class="col-1">
                <a href="/"><img class="mainimg" src="{% static 'E-Fi.png'%}"></a>
            </div>
            <div class="col-10">
            	<div class="h1 text-center">Search Result</div>
       		</div>
       		<div class="col-1">
                {% if user.is_authenticated %}
                <p id="user-auth">Hello <span>{{ user.username }}</span>,</p>
                <form action="{% url 'logout' %}">   
                    <input type="submit" id="bt-logout" value="Logout">
                </form>
                {% else %}
                <form action="{% url 'login' %}">   
                    <input type="submit" id="bt-login" value="Login">
                </form>
                {% endif %}
            </div>
        <div class="kegiatan col-12 narrow text-center">
			<div class="row light narrow justify-content-center text-center">
				<div class="event col-md-4 ">
					<div id="result">
					</div>
					<div class="justify-content-center" id="desc">
					</div>
					
					<form  action="/storepage/"method="post">
					 	{% csrf_token %}
					 	<input type="hidden" name="item_id" value="{{ item.item_id }}">
						<button name="button" type="submit" class="btn btn-outline-danger ">Where to buy?</button>
					</form>
				</div>				
			</div>
		</div>
		<div class="container">
            <div class='row'>
            <div class='col text-center' id="unauthed"></div>
            </div>
            <div class="row">
                <div class='col-1'>
                </div>
                <div class="form-group text-center">
                    <form method="POST" id='sign-up'>
                        {% csrf_token %}

                        <font class="h2">Subscribe to our newsletter!</font> &emsp;
                        {{ newsletter }}
                        <button class="btn btn-primary" type="submit"><font class="h3">Submit</font></button>
                    </form>
                </div>
            </div>
        </div>	
	</div>
</body>
</html>