@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.dropdown{
    border-radius: 20px;
    font-family: "Muli";
    width: 100%;
    padding: 27px 27px;
    height: 10px;
}
#text-submit{
    font-family: "Muli";
    font-size: 1.6em;
}
#text-submit p span{
    font-weight: bold;
}
#but-submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-auth{
    font-family: "Muli";
    font-size: 1.5em;
}
#bt-login{
    font-family: "Muli";
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    min-height: 7vh;
    min-width: 15vh;
    border-color: #A84848;
    border-width: 3px;
    margin-right: 60px;
    margin-top: 30px;
    align-items: center;
    border-radius: 5px;
}

#bt-logout{
    font-family: "Muli";
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    min-height: 7vh;
    min-width: 15vh;
    border-color: #A84848;
    border-width: 3px;
    margin-right: 60px;
    align-items: center;
    border-radius: 5px;
}

.store_img {
    max-height: 200px;
    max-width: 352px;
    width: auto;
    height: auto;
}

.title1{
    display: flex;
    justify-content: center;
    font-family: "Muli";
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    width: 100%;
}

.title1 p span{
    font-family: "Josefin Sans";
    text-align: center;
    width: 100%;
    color: #A84848;
}
.text1{
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans";
    font-size: 1.4em;
    text-align: center;
    width: 100%;
}
.title2 {
    font-family: "Muli";
    text-align: center;
    font-size: 3em;
    width: 100%;
}

.title3 {
    font-family: "Muli";
    text-align: center;
    font-size: 1em;
    width: 100%;
}

.textbox{
    font-family: "Muli";
    font-size: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.full{
    font-family: "Muli";
    text-align: center;
}

.searchfile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.storepage_text{
    font-size: 2vw;
}

.button{

}

.mainimg {
    max-height: 100px;
    max-width: 100px;
    width: auto;
    height: auto;
}

.small {
    width:10%;
}

.large {
    width:90%;
}
