body {
    overflow-x: hidden;
    font-family:  century gothic;
    width: auto;
    height: auto;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.store_img {
    max-height: 200px;
    max-width: 352px;
    width: auto;
    height: auto;
}

.storepage_text{
    font-size: 2vw;
}

.mainimg {
    max-height: 100px;
    max-width: 100px;
    width: auto;
    height: auto;
}

.small {
    width:10%;
}

.large {
    width:auto;
}

#result img{
    padding-bottom: 20px;
}

#desc h4{
    padding: 5px 5px 0px 5px;

}

#desc h6{
    padding-bottom: 10px;
}

.kegiatan{
    padding: 10px 10px;
}

#bt-login {
    font-family: "Muli";
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    min-height: 7vh;
    min-width: 15vh;
    border-color: #A84848;
    border-width: 3px;
    margin-right: 60px;
    margin-top: 30px;
    align-items: center;
    border-radius: 5px;
}