.store_img {
    max-height: 200px;
    max-width: 352px;
    width: auto;
    height: auto;
}

.storepage_text{
    font-size: 2vw;
}

.mainimg {
    max-height: 100px;
    max-width: 100px;
    width: auto;
    height: auto;
}

.small {
    width:10%;
}

.large {
    width:90%;
}

#text-submit{
    font-family: "Muli";
    font-size: 1.6em;
}
#text-submit p span{
    font-weight: bold;
}
#but-submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-auth{
    font-family: "Muli";
    font-size: 1.5em;
}
#bt-login{
    font-family: "Muli";
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    min-height: 7vh;
    min-width: 15vh;
    border-color: #A84848;
    border-width: 3px;
    margin-right: 60px;
    margin-top: 30px;
    align-items: center;
    border-radius: 5px;
}

#bt-logout{
    font-family: "Muli";
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    min-height: 7vh;
    min-width: 15vh;
    border-color: #A84848;
    border-width: 3px;
    margin-right: 60px;
    align-items: center;
    border-radius: 5px;

